<footer class="footer footer-dark footer-fixed">
    @{
        if (DateTime.Now.Year > 2017)
        {
        <p class="clearfix text-muted text-sm-center mb-0 px-2"><span class="float-md-left d-xs-block d-md-inline-block">Copyright  &copy; 2017 - @DateTime.Now.Year <a href="http://www.infomapsesm.com" target="_blank" class="text-bold-800 grey darken-2">FayBox </a>, All rights reserved. </span><span class="float-md-right d-xs-block d-md-inline-block">Theatre Management System <i class="icon-feed pink"></i></span></p>
        }
        else
        {
        <p class="clearfix text-muted text-sm-center mb-0 px-2"><span class="float-md-left d-xs-block d-md-inline-block">Copyright  &copy; @DateTime.Now.Year <a href="http://www.infomapsesm.com" target="_blank" class="text-bold-800 grey darken-2">FayBox </a>, All rights reserved. </span><span class="float-md-right d-xs-block d-md-inline-block">Theatre Management System <i class="icon-feed pink"></i></span></p>
        }
    }
</footer>
