@{
    Layout = "~/Views/Layout/_DashboardLayout.cshtml";
}

<div class="alert alert-danger"><strong>Sorry!</strong> No records found. <a href="@Url.Action("Create",ViewBag.ControllerName)" class="btn btn-sm btn-orange" accesskey="a"><i class="fa fa-plus"></i>&nbsp;<u>A</u>dd</a>&nbsp;</div>